#top-header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 400px;
    justify-content: center;
}

#main-title {
    font-size: 36px;
    color: transparent;
    -webkit-text-stroke: 2px #8D6E68;
}

#big-section {
    width: 100%;
    margin: 40px 0;
    background-color: #C9BE98;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 8px;
    position: relative;
    padding: 80px 0;
    text-align: center;
}

#big-section>p:nth-of-type(1) {
    font-size: 48px;
    color: white;

}


#big-section>p:nth-of-type(2) {
    font-size: 24px;
    color: #F2F2F2;

}

#big-section-bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #8D6E68;
    width: 100%;
    padding: 8px;

    display: grid;
    place-items: center;
}

#big-section-bottom-bar p {
    font-size: 25px;
    color: white;
}

#our-news {
    width: 100%;
}

#our-news-header {
    display: grid;
    place-items: center;
    position: relative;
}

#our-news-header>div {

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;

}

#our-news-header>div>p {
    font-size: 36px;
    color: #50423f;
    ;

}

#our-news-header>button {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 50%;
    translate: 0 -50%;
    padding: 24px 64px;
    background-color: #4E3E3B;

    color: white;
    border-radius: 8px;
}

#posts-wrapper {
    display: flex;
    padding: 80px 0;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.post {
    background-color: #F2E2DF;
    width: 400px;
    box-shadow: 1px 1px 2px 1px #705C58;
    border-radius: 8px;
    transition: 300ms scale;
    cursor: pointer;
}

.post:hover {
    scale: 1.05;

}

.post-header {
    display: grid;
    background-color: #705C58;
    padding: 16px 0;

    border-radius: 8px 8px 0 0;
    place-items: center;
}

.post-header p {
    font-size: 36px;
    color: white;
}

.post-img-container {
    display: grid;
    place-items: center;

    padding: 32px 0;
}

.post-small-content {
    background-color: #C58173;
    padding: 16px;
    border-radius: 0 0 8px 8px;
    justify-content: center;
}

.post-small-content p {
    color: white;
    font-size: 24px;
}